.col {
  border-right: 1px solid black;
}

.col.name {
  padding: 0;
  text-align: center;
}

.row {
  border-bottom: 1px solid black;
}

.row.name:nth-child(even) {
  background: #eeeeee;
}

.wrapper {
  width: 100%;
  margin-top: 20px;
}

.wrapper .regenerate {
  margin: auto;
  display: block;
}